# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Ignore changes to tmp_poe_ninja
tmp_poe_ninja/
*.json

#Ignore locally generated .filter file
*.filter

#Ignore locally generated marketIndex.xml
marketIndex.xml